<!DOCTYPE html>
<html>
<head>
  <title>Chatty</title>
  <%= stylesheet_link_tag    "chatty/application", media: "all" %>
  <%= javascript_include_tag "chatty/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
